{% extends 'base.html' %} 
{% block title %} My account {% endblock title %}

{% block page %}
<div class="row">
  <div class="col-10 px-5">

<div class="container">

  <table>
    <thead class="teal lighten-2">
      <tr>
        <th>Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Username</td>
          <td>{{request.user.username}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{request.user.first_name|title}} {{request.user.last_name|title}}</td>      
      </tr>


      {% if request.user.userprofile.has_profile %}

        <tr>
          <td>Address</td>
          <td>
            <address>
              {{request.user.userprofile.address}}<br>
              {{request.user.userprofile.town}}<br>
              {{request.user.userprofile.county}}<br>
              {{request.user.userprofile.post_code}}<br>
            </address>
          </td>      
        </tr>

      {% else %}
        <tr>
          <td>User Profile</td>
          <td><a href="{% url 'users:profile' %}" >Create user Profile</a></td>
        </tr>
      {% endif %}
    </tbody>
  </table>



</div>

  </div>
</div>

{% endblock page %}
